<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="az-header">
      <div class="container">
        <div class="az-header-left">
          <a href="index.html" class="az-logo"><span></span> azia</a>
          <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
        </div><!-- az-header-left -->
        <div class="az-header-menu">
          <div class="az-header-menu-header">
            <a href="index.html" class="az-logo"><span></span> azia</a>
            <a href="" class="close">&times;</a>
          </div><!-- az-header-menu-header -->
          <ul class="nav">
            <li class="nav-item">
              <a href="/cpanel/authors/quan-ly-sach" class="nav-link" style="font-size: 15px;"><i class="typcn typcn-chart-area-outline"></i>Quản lý sách</a>
            </li>
            <li class="nav-item">
              <a href="chart-chartjs.html" class="nav-link" style="font-size: 15px;"><i class="typcn typcn-chart-bar-outline"></i> Thống kê</a>
            </li>
            <li class="nav-item">
              <a href="/cpanel/authors/them-sach" class="nav-link" style="font-size: 15px;"><i class="typcn typcn-chart-area-outline"></i>Đăng sách</a>
            </li>
          </ul>
        </div><!-- az-header-menu -->
        <div class="dropdown az-profile-menu">
          
            <a href="" class="az-img-user">
                <img src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg">
                </a>
          </div>
        </div><!-- az-header-right -->
      </div><!-- container -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label>Hình ảnh</label>
                                    <input type="file" name="image" class="file-upload-default">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputUsername1">Tên sản phẩm</label>
                                    <input name="name" type="text" class="form-control" id="name"
                                        placeholder="Tên sản phẩm" style="font-size: 16px;">
                                </div>
                                <div class="form-group">
                                    <label>Danh mục</label>
                                    <select name="categoryId" class="form-control" id="categoryId" style="font-size: 16px;">
                                        {{#each categories}}
                                        <option value="{{this._id}}">{{this.name}}</option>
                                        {{/each}}

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Giới thiệu</label>
                                    <input  class="form-control" type="text"
                                        name="introduction" id="introduction" style="font-size: 16px;" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputConfirmPassword1">Số tiền</label>
                                    <input name="isPrice" id="isPrice" class="form-control" id="exampleInputConfirmPassword1"
                                        placeholder="Số lượng" style="font-size: 16px;">
                                </div>
                        <button id="buttonSave" onclick="onSave()" type="button"
                            class="btn btn-primary">Lưu</button>
                        <button class="btn btn-light">Bỏ</button>
                    </form>
                </div>
            </div>
        </div>
</body>
<script>

    const fetchAPI = async (url, option) => {
        const res = await fetch(url, option);
        return res.json();
    }

    const onSave = async () => {

        const image = document.getElementById('image');
        const name = document.getElementById('name');
        const introduction = document.getElementById('introduction');
        const isPrice = document.getElementById('isPrice');
        const categoryId = document.getElementById('categoryId');

        console.log(introduction.value);
            
        swal("Xác nhận thêm mới sách ?", {
            buttons: {
                cancel: "Hủy",
                confirm: 'Xác nhận',
            },
        })
            .then(async (value) => {
                const url = `/api/books/insertBook`;
                const body = {
                    image: 'https://cdn.tgdd.vn/2020/08/campaign/cach-tim-kiem-bang-hinh-anh-tren-google-dien-thoai-may-tinhthumb-640x360.jpg',
                    name: name.value,
                    introduction: introduction.value,
                    isPrice: isPrice.value,
                    categoryId: categoryId.value,
                }

                const option = {
                    method: 'post',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(body)
                }
                try {
                    const result = await fetchAPI(url, option);
                    if(result.error == false) {
                        window.location = '/';
                    }

                } catch (e) { swal(`Lỗi: ${e.message}`); }
            })
    }
</script>
</html>