<script src="https://cdn.ckeditor.com/ckeditor5/35.1.0/classic/ckeditor.js"></script>
<body>
        <div class="az-header">
      <div class="container">
        <div class="az-header-left">
          <a href="index.html" class="az-logo"><span></span> azia</a>
          <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
        </div><!-- az-header-left -->
        <div class="az-header-menu">
          <div class="az-header-menu-header">
            <a href="index.html" class="az-logo"><span></span> azia</a>
            <a href="" class="close">&times;</a>
          </div><!-- az-header-menu-header -->
          <ul class="nav">
            <li class="nav-item">
              <a href="/cpanel/authors/quan-ly-sach" class="nav-link" style="font-size: 15px;"><i class="typcn typcn-chart-area-outline"></i>Quản lý sách</a>
            </li>
            <li class="nav-item">
              <a href="chart-chartjs.html" class="nav-link" style="font-size: 15px;"><i class="typcn typcn-chart-bar-outline"></i> Thống kê</a>
            </li>
            <li class="nav-item">
              <a href="/cpanel/books/allBook" class="nav-link" style="font-size: 15px;"><i class="typcn typcn-chart-area-outline"></i>Đăng sách</a>
            </li>
          </ul>
        </div><!-- az-header-menu -->
        <div class="dropdown az-profile-menu">
          
            <a href="" class="az-img-user">
                <img src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg">
                </a>
          </div>
        </div><!-- az-header-right -->
    </div><!-- container -->
    <form>
        <div class="form-group">
            <label style="font-size: 15px; margin-left: 30px;" >Tên sách</label>
            <input disabled style="width: 300px; height: 30px; font-size: 15px; margin-left: 15px;" type="idBook" name="idBook">
        </div>
        <div class="form-group">
            <label style="font-size: 15px; margin-left: 30px;" >Tiêu đề</label>
            <input style="width: 300px; height: 30px; font-size: 15px; margin-left: 21px;" type="title" name="title" class="file-upload-default">
        </div>
        <div class="form-group">
            <label style="font-size: 15px; margin-left: 30px;">Chú thích</label>
            <input style="width: 300px; height: 30px; font-size: 15px; margin-left: 10px;" type="permission" name="permission" class="file-upload-default">
        </div>        
    </form>
     <div id="editor"></div>
        <button id="buttonSave" onclick="onSave()" type="button"
        class="btn btn-primary">Lưu</button>
</body>
<script>
    let editorinstance;
    const _book = {{{ _book }}};
    const { name, _id } = _book;

    const idBook = document.querySelector('input[name="idBook"]');
    idBook.value = name;

    const fetchAPI = async (url, option) => {
        const res = await fetch(url, option);
        return res.json();
    }
    $(document).ready(function () {
    // CKEDITORs 
        var myeditor = ClassicEditor.create(document.querySelector('#editor'))
        .then
        (editor => { editorinstance =editor;})
        .catch(error => { 
            console.error(error); 
        }); 
    }); 
    const onSave = async => {
        const data = editorinstance.getData(); 
        const title = document.querySelector('input[name="title"]').value;
        const permission = document.querySelector('input[name="permission"]').value;
        swal("Xác nhận thêm mới ngành học?", {
            buttons: {
                cancel: "Hủy",
                confirm: 'Xác nhận',
            },
        })
            .then(async (value) => {
                const url = `/api/chapters/insertChapterBook`;
                const body = {
                    idBook: _id,
                    title: title,
                    permission: permission,
                    htmlChapter: data
                }

                const option = {
                    method: 'post',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(body)
                }
                try {
                    const result = await fetchAPI(url, option);
                    if(result.error == false) {
                        //window.location = '/';
                    }

                } catch (e) { swal(`Lỗi: ${e.message}`); }
            })
    }
</script>
