<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="az-header">
      <div class="container">
        <div class="az-header-left">
          <a href="index.html" class="az-logo"><span></span> azia</a>
          <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
        </div><!-- az-header-left -->
        <div class="az-header-menu">
          <div class="az-header-menu-header">
            <a href="index.html" class="az-logo"><span></span> azia</a>
            <a href="" class="close">&times;</a>
          </div><!-- az-header-menu-header -->
          <ul class="nav">
            <li class="nav-item">
              <a href="/cpanel/authors/quan-ly-sach" class="nav-link" style="font-size: 15px;"><i class="typcn typcn-chart-area-outline"></i>Quản lý sách</a>
            </li>
            <li class="nav-item">
              <a href="chart-chartjs.html" class="nav-link" style="font-size: 15px;"><i class="typcn typcn-chart-bar-outline"></i> Thống kê</a>
            </li>
            <li class="nav-item">
              <a href="/cpanel/authors/them-sach" class="nav-link" style="font-size: 15px;"><i class="typcn typcn-chart-area-outline"></i>Đăng sách</a>
            </li>
          </ul>
        </div><!-- az-header-menu -->
        <div class="dropdown az-profile-menu">
          
            <a href="" class="az-img-user">
                <img src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg">
                </a>
          </div>
        </div><!-- az-header-right -->
      </div><!-- container -->
</body>
</html>