<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90680653-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-90680653-2');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <!-- <meta name="twitter:site" content="@bootstrapdash">
    <meta name="twitter:creator" content="@bootstrapdash">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Azia">
    <meta name="twitter:description" content="Responsive Bootstrap 4 Dashboard Template">
    <meta name="twitter:image" content="https://www.bootstrapdash.com/azia/img/azia-social.png"> -->

    <!-- Facebook -->
    <!-- <meta property="og:url" content="https://www.bootstrapdash.com/azia">
    <meta property="og:title" content="Azia">
    <meta property="og:description" content="Responsive Bootstrap 4 Dashboard Template">

    <meta property="og:image" content="https://www.bootstrapdash.com/azia/img/azia-social.png">
    <meta property="og:image:secure_url" content="https://www.bootstrapdash.com/azia/img/azia-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600"> -->

    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap 4 Dashboard Template">
    <meta name="author" content="BootstrapDash">

    <title>Azia Responsive Bootstrap 4 Dashboard Template</title>

    <!-- vendor css -->


  </head>
  <body>

    <div class="az-header">
      <div class="container">
        <div class="az-header-left">
          <a href="index.html" class="az-logo"><span></span> azia</a>
          <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
        </div><!-- az-header-left -->
        <div class="az-header-menu">
          <div class="az-header-menu-header">
            <a href="index.html" class="az-logo"><span></span> azia</a>
            <a href="" class="close">&times;</a>
          </div><!-- az-header-menu-header -->
           <ul class="nav">
            <li class="nav-item">
              <a href="/cpanel/books/allBook" class="nav-link"><i class="typcn typcn-chart-area-outline"></i>Quản lý sách</a>
            </li>
            <li class="nav-item active">
              <a href="/cpanel/books/chart" class="nav-link"><i class="typcn typcn-chart-bar-outline"></i> Thống kê</a>
            </li>
            <li class="nav-item">
              <a href="/cpanel/categories/getAllCategories" class="nav-link"><i class="typcn typcn-chart-bar-outline"></i>Quản lý thể loại sách</a>
            </li>
            <li class="nav-item">
              <a href="/cpanel/users/1/allUser" class="nav-link"><i class="typcn typcn-book"></i>Quản lý user</a>
            </li>
            {{#if 99}}
            <li  class="nav-item">
              <a class="nav-link"><i class="typcn typcn-chart-bar-outline"></i><button style="visibility: hidden;" class="btn btn-indigo btn-rounded btn-block" onclick="onWaitAccessAuthor()">Xin quyền làm tác giả</button></a>
            </li>
            {{/if}}
          </ul>
        </div><!-- az-header-menu -->
       
      </div><!-- container -->
    </div><!-- az-header -->

    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
      <div class="container">
     
        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
          <h2 class="az-content-title">Thống kê</h2>



          <div class="row row-sm">
            <div class="col-sm-8 col-md-6 col-xl-4">
             
              <div style="width: 1000px;" class="ht-200 ht-lg-250"><canvas id="chartBar1"></canvas></div>
            </div><!-- col-6 -->



    <script>
      var ctx1 = document.getElementById('chartBar1').getContext('2d');
        new Chart(ctx1, {
          type: 'bar',
          data: {
            labels: ['Tổng số sách đã bán', 'Tổng thu nhập'],
            datasets: [{
              label: 'Thống kê',
              data: [12, 40],
              backgroundColor: '#560bd0'
            }]
          },
          options: {
            maintainAspectRatio: false,
            responsive: true,
            legend: {
              display: false,
              labels: {
                display: false
              }
            },
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                  fontSize: 10,
                  max: 80
                }
              }],
              xAxes: [{
                barPercentage: 0.6,
                ticks: {
                  beginAtZero: true,
                  fontSize: 11
                }
              }]
            }
          }
        });
    </script>
  </body>
</html>
