 <body>
    <div class="az-header">
      <div class="container">
        <div class="az-header-left">
          <a href="index.html" class="az-logo"><span></span> azia</a>
          <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
        </div><!-- az-header-left -->
        <div class="az-header-menu">
          <div class="az-header-menu-header">
            <a href="index.html" class="az-logo"><span></span> azia</a>
            <a href="" class="close">&times;</a>
          </div><!-- az-header-menu-header -->
         <ul class="nav">
            <li class="nav-item">
              <a href="/cpanel/books/allBook" class="nav-link"><i class="typcn typcn-chart-area-outline"></i>Quản lý sách</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link with-sub"><i class="typcn typcn-document"></i> Pages</a>
              <nav class="az-menu-sub">
                <a href="page-signin.html" class="nav-link">Sign In</a>
                <a href="page-signup.html" class="nav-link">Sign Up</a>
              </nav>
            </li>
            <li class="nav-item">
              <a href="chart-chartjs.html" class="nav-link"><i class="typcn typcn-chart-bar-outline"></i> Charts</a>
            </li>
            <li class="nav-item">
              <a href="/cpanel/categories/getAllCategories" class="nav-link"><i class="typcn typcn-chart-bar-outline"></i>Quản lý thể loại sách</a>
            </li>
            <li class="nav-item active">
              <a href="/cpanel/users/1/allUser" class="nav-link with-sub"><i class="typcn typcn-book"></i>Quản lý user</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="typcn typcn-chart-bar-outline"></i><button class="btn btn-indigo btn-rounded btn-block" onclick="onWaitAccessAuthor()">Xin quyền làm tác giả</button></a>
            </li>
          </ul>
        </div><!-- az-header-menu -->
        <div class="az-header-right">
          <a href="https://www.bootstrapdash.com/demo/azia-free/docs/documentation.html" target="_blank" class="az-header-search-link"><i class="far fa-file-alt"></i></a>
          <a href="" class="az-header-search-link"><i class="fas fa-search"></i></a>
          <div class="az-header-message">
            <a href="#"><i class="typcn typcn-messages"></i></a>
          </div><!-- az-header-message -->
          <div class="dropdown az-header-notification">
            <a href="" class="new"><i class="typcn typcn-bell"></i></a>
            <div class="dropdown-menu">
              <div class="az-dropdown-header mg-b-20 d-sm-none">
                <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
              </div>
              <h6 class="az-notification-title">Notifications</h6>
              <p class="az-notification-text">You have 2 unread notification</p>
              <div class="az-notification-list">
                <div class="media new">
                  <div class="az-img-user"><img src="../img/faces/face2.jpg" alt=""></div>
                  <div class="media-body">
                    <p>Congratulate <strong>Socrates Itumay</strong> for work anniversaries</p>
                    <span>Mar 15 12:32pm</span>
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media new">
                  <div class="az-img-user online"><img src="../img/faces/face3.jpg" alt=""></div>
                  <div class="media-body">
                    <p><strong>Joyce Chua</strong> just created a new blog post</p>
                    <span>Mar 13 04:16am</span>
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media">
                  <div class="az-img-user"><img src="../img/faces/face4.jpg" alt=""></div>
                  <div class="media-body">
                    <p><strong>Althea Cabardo</strong> just created a new blog post</p>
                    <span>Mar 13 02:56am</span>
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media">
                  <div class="az-img-user"><img src="../img/faces/face5.jpg" alt=""></div>
                  <div class="media-body">
                    <p><strong>Adrian Monino</strong> added new comment on your photo</p>
                    <span>Mar 12 10:40pm</span>
                  </div><!-- media-body -->
                </div><!-- media -->
              </div><!-- az-notification-list -->
              <div class="dropdown-footer"><a href="">View All Notifications</a></div>
            </div><!-- dropdown-menu -->
          </div><!-- az-header-notification -->
          <div class="dropdown az-profile-menu">
            <a href="" class="az-img-user"><img src="../img/faces/face1.jpg" alt=""></a>
            <div class="dropdown-menu">
              <div class="az-dropdown-header d-sm-none">
                <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
              </div>
              <div class="az-header-profile">
                <div class="az-img-user">
                  <img src="../img/faces/face1.jpg" alt="">
                </div><!-- az-img-user -->
                <h6>Aziana Pechon</h6>
                <span>Premium Member</span>
              </div><!-- az-header-profile -->

              <a href="" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
              <a href="" class="dropdown-item"><i class="typcn typcn-edit"></i> Edit Profile</a>
              <a href="" class="dropdown-item"><i class="typcn typcn-time"></i> Activity Logs</a>
              <a href="" class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a>
              <a href="page-signin.html" class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign Out</a>
            </div><!-- dropdown-menu -->
          </div>
        </div><!-- az-header-right -->
      </div><!-- container -->
    </div><!-- az-header -->
    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
      <div class="container">
        <div class="az-content-left az-content-left-components">
          <div class="component-item">
            <label>UI Elements</label>
            <nav class="nav flex-column">
              <a href="elem-buttons.html" class="nav-link">Buttons</a>
              <a href="elem-dropdown.html" class="nav-link">Dropdown</a>
              <a href="elem-icons.html" class="nav-link">Icons</a>
            </nav>
            <label>Forms</label>
            <nav class="nav flex-column">
              <a href="form-elements.html" class="nav-link">Form Elements</a>
            </nav>
            <label>Charts</label>
            <nav class="nav flex-column">
              <a href="chart-chartjs.html" class="nav-link">ChartJS</a>
            </nav>
            <label>Tables</label>
            <nav class="nav flex-column">
              <a href="table-basic.html" class="nav-link active">Basic Tables</a>
            </nav>
          </div><!-- component-item -->
        </div><!-- az-content-left -->
         <div class="az-content-body pd-lg-l-40 d-flex flex-column">
          <div class="az-content-breadcrumb">
            <span>Components</span>
            <span>Forms</span>
            <span>Form Elements</span>
          </div>
          <h2 class="az-content-title">Form Elements</h2>
          <div class="row row-sm">
            <div class="col-lg-4">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Tên thể loại</span>
                </div>
                <input id="tentheloai" name="tentheloai" type="text" class="form-control" placeholder="Tên thể loại" aria-label="Username" aria-describedby="basic-addon1">
              </div><!-- input-group -->
            </div><!-- col -->
          </div><!-- row -->
          <div class="row row-sm">
            <div class="col-lg-4">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Mô tả</span>
                </div>
                <input id="mota" name="mota" type="text" class="form-control" placeholder="Mô tả" aria-label="Username" aria-describedby="basic-addon1">
              </div><!-- input-group -->
            </div><!-- col -->  
          </div><!-- row -->
          <div class="row row-sm">
            <div class="col-lg-4">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Hình ảnh</span>
                </div>
                  <input onchange="onChangeFile();" name="image" type="file" accept="image/*"
                                class="form-control-file border" id="image-file" />
              </div><!-- input-group -->
                <img style="display: none; object-fit:cover;" src="" width="200" height="200"
                                id="image-view" />
                <label id="textWAIT" style="font-size: 13px;" class="control-label"></label>
            </div><!-- col -->
          </div><!-- row -->  
          <button style=" font-size: 16px; padding: 8px 20px;height:100px;width:100px;" onclick="onSave()" id="buttonSave"
                                type="button" class="btn btn-primary">Lưu</button>
          <hr class="mg-y-30">
          <div class="ht-40"></div>
          <div class="az-footer mg-t-auto">
            <div class="container">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div><!-- container -->
          </div><!-- az-footer -->
        </div><!-- az-content-body -->

      </div><!-- container -->
    </div><!-- az-content -->

  <script>
     let linkHinh = ""; 
     let file="";
     const tentheloai = document.getElementById('tentheloai'); 
     const mota = document.getElementById('mota'); 
     const textWAIT =document.getElementById('textWAIT'); 
    const fetchAPI = async (url, option) => {
      const res = await fetch(url, option);
      return res.json();
    }
    const onChangeFile = async () => {
                  const imagefile = document.getElementById('image-file'); 
                  file = imagefile.files[0]; 
                  const reader = new FileReader(); 
                  reader.onload = e => {
                       document.getElementById('image-view').src = e.target.result;
                      document.getElementById('image-view').style.display = 'block';
                  }
                  reader.readAsDataURL(file);               
            }
    const onSave = async () => {
                  await upImageCloud();
                  const url = `/api/categories/insertCategory`; 
                  const body = {
                         tentheloai: tentheloai.value,
                         moTa: mota.value, 
                         hinhAnh: linkHinh,
                  } 
                  const option = {
                         method: 'post', 
                         headers: {'Content-Type':'application/json'}, 
                         body: JSON.stringify(body)
                  } 
                   try {
                        
                        const result = await fetchAPI(url, option);
                        window.location.href = '/cpanel/categories/getAllCategories';
                       } catch (e) {
                          console.log(e);
                       }
             }  
    const upImageCloud = async () =>{
         var fd = new FormData();
         fd.append("file", file); 
         const url = `/api/media/uploadImage`; 
         const option = { method: 'post', body: fd } 
            try {
                textWAIT.innerHTML="Đang tải hình lên...";
                const result = await fetchAPI(url, option);                           
                linkHinh =result.url; 
                textWAIT.innerHTML="Đã tải xong";
                return linkHinh;
                } catch (e) { console.log(e); }
    }

  </script>
  </body>