{{!-- <div class="content-wrapper">
    <div class="container">
        <div class="row" style="display: flex;">
            <div class="col-md-5 col-sm-5" style="margin: auto;">
                <div class="login-container">
                    <form role="form" action="/cpanel/home/auth" method="post">
                        <div class="login-divider" style="margin: 15px 0">
                            <div class="divider">
                                <span></span>
                                <span>SOCIAL</span>
                                <span></span>
                            </div>
                        </div>
                        <button type="submit" id="btn_login_google" class="btn btn-danger">
                            <i class="fa fa-google"></i>
                            Google
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
--}}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
            <div class="row flex-grow">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left p-5">
                        <div class="brand-logo">
                            <img src="/media/logo.svg">
                        </div>
                        <h4>Xin chào! Hãy đăng nhập vào trang web</h4>
                        <h6 class="font-weight-light">Tiếp tục đăng nhập!</h6>
                        <form role="form" action="/cpanel/home" method="post">                        
                        <div class="login-divider" style="margin: 15px 0">
                            <div class="divider">
                                <span></span>
                                <span>SOCIAL</span>
                                <span></span>
                            </div>
                        </div>
                        <button type="submit" id="btn_login_google" class="btn btn-danger">
                            <i class="fa fa-google"></i>
                            Google
                        </button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>